.box{
    width: 150px;
    height: 150px;
    border: 1px solid #080808f5;
    display: inline-block;
    margin: -2px;
    font-size: 90px;
    text-align: center;
}
.box:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.black{
    background-color: black;
    color: white;
}
.black:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}